@{
    ViewData["Title"] = "Home Page";
}

<!-- page head start -->
<section id="up" class="pos-rel bg-img-cover" style="background-image: url(../../assets/images/backgrounds/accomplishment-ceremony-education-graduation-267885.jpg)">
    <!-- bg-overlay -->
    <div class="bg-overlay-black"></div>
    <!-- pos-rel start -->
    <div class="pos-rel flex-min-height-100vh">
        <div class="padding-top-bottom-120 container small">
            <!-- title start -->
            <h2 class="headline-l after-preloader-anim">
                <span class="anim-text-fill" data-text="Hi, i'm">Hi, i'm</span>
                <span class="anim-text-fill tr-delay-01" data-text="Harry Rocha">Harry Rocha</span><br>
                <span id="js-typewriter" class="text-color-red"></span><br>
                <span class="anim-text-fill tr-delay-02" data-text="Based in">Based in</span>
                <span class="anim-text-fill tr-delay-03" data-text="London.">London.</span>
            </h2><!-- title end -->
        </div>
    </div><!-- pos-rel end -->
</section><!-- page head end -->
<section id="About" class="pos-rel section-bg-dark-2">
    <!-- pos-rel start -->
    <div class="pos-rel padding-top-bottom-120">
        <!-- flex-container start -->
        <div class="container flex-container padding-bottom-70">
            <!-- column start -->
            <div class="six-columns padding-bottom-20">
                <!-- title start -->
                <h2 class="column-l-r-margin-10 headline-m js-scrollanim">
                    <span class="hidden-box d-block">
                        <span class="anim-slide">
                            We Are <span class="text-color-red">Creative</span>
                        </span>
                    </span>
                    <span class="hidden-box d-block">
                        <span class="anim-slide tr-delay-01 text-color-red">People</span>
                    </span>
                </h2><!-- title end -->
            </div><!-- column end -->
            <!-- column start -->
            <div class="six-columns padding-bottom-20">
                <div class="column-l-r-margin-10">
                    <p class="body-text-s anim-text-reveal js-scrollanim">Pitchfork vaporware hella, vice next level art party subway tile swag portland. Cliche authentic photo booth, seitan sartorial iPhone brooklyn bicycle rights whatever small batch selvage affogato yuccie adaptogen vinyl. Sartorial franzen tacos cardigan, offal gluten-free pour-over snackwave plaid four dollar toast. Messenger bag keffiyeh church-key, synth iPhone pabst leggings ethical. PBR&B cred hot chicken pork belly.</p>

                    <!-- list start -->
                    <ul class="list text-color-dadada margin-top-30 js-scrollanim">
                        <li class="list__item red dot hidden-box">
                            <div class="subhead-xxs anim-slide">Graphic Design</div>
                        </li>
                        <li class="list__item red dot hidden-box">
                            <div class="subhead-xxs anim-slide tr-delay-01">User Interface Design</div>
                        </li>
                        <li class="list__item red dot hidden-box">
                            <div class="subhead-xxs anim-slide tr-delay-02">User Experience Design</div>
                        </li>
                        <li class="list__item red dot hidden-box">
                            <div class="subhead-xxs anim-slide tr-delay-03">Web Design</div>
                        </li>
                        <li class="list__item red dot hidden-box">
                            <div class="subhead-xxs anim-slide tr-delay-04">Motion Design</div>
                        </li>
                        <li class="list__item red dot hidden-box">
                            <div class="subhead-xxs anim-slide tr-delay-05">Front-end Development</div>
                        </li>
                        <li class="list__item red dot hidden-box">
                            <div class="subhead-xxs anim-slide tr-delay-06">Back-end Development</div>
                        </li>
                    </ul><!-- list end -->
                </div>
            </div><!-- column end -->
        </div><!-- flex-container end -->
    </div><!-- pos-rel end -->
</section>
<!-- portfolio start -->
<section class="pos-rel section-bg-light-2" data-midnight="black">
    <!-- pos-rel start -->
    <div class="pos-rel padding-top-bottom-120">
        <!-- title start -->
        <h2 class="headline-xxxl text-color-black text-center hidden-box js-scrollanim">
            <span class="anim-slide">
                Recent <span class="text-color-red">Works</span>
            </span>
        </h2><!-- title end -->
        <!-- filter-buttons start -->
        <div class="list list_row list_center list_margin-30px padding-top-90 js-filter-button-box js-scrollanim">
            <button class="list__item js-filter-button anim-fade js-pointer-small js-filter-button-active" data-filter="*">
                <span class="flip-btn text-color-black" data-text="Everything">Everything</span>
            </button>
            <button class="list__item js-filter-button anim-fade tr-delay-01 js-pointer-small" data-filter=".marketing">
                <span class="flip-btn text-color-black" data-text="Marketing">Marketing</span>
            </button>
            <button class="list__item js-filter-button anim-fade tr-delay-02 js-pointer-small" data-filter=".photoshoot">
                <span class="flip-btn text-color-black" data-text="Photoshoot">Photoshoot</span>
            </button>
            <button class="list__item js-filter-button anim-fade tr-delay-03 js-pointer-small" data-filter=".branding">
                <span class="flip-btn text-color-black" data-text="Branding">Branding</span>
            </button>
        </div><!-- filter-buttons end -->
        <!-- js-isotope-filter-grid-box start -->
        <div class="js-isotope-filter-grid-box container full">
            <!-- empty grid -->
            <div class="js-isotope-filter-grid-item empty-grid-1px-33-50-none"></div>
            <div class="js-isotope-filter-grid-item empty-grid-200px-33-none"></div>
            <div class="js-isotope-filter-grid-item empty-grid-100px-33-50-none"></div>

            <!-- grid-item start -->
            <div class="padding-top-60 grid-item-33-50-100 js-isotope-filter-grid-item branding">
                <a href="project_beauty-lab.html" class="grid-margin-box hover-box js-animsition-link js-pointer-large">
                    <div class="anim-img-scale anim-img-scale_hover js-img-scale">
                        <img class="anim-img-scale__inner" src="~/assets/images/projects/beauty-lab/beauty-beauty-product-cosmetics-makeup-2845213.jpg" alt="project">
                    </div>
                    <div class="margin-top-10 js-scrollanim">
                        <span class="hidden-box d-block">
                            <span class="subhead-xxs text-color-red anim-slide">Branding</span>
                        </span>
                        <h3 class="hidden-box">
                            <span class="headline-xxxs text-color-black anim-slide tr-delay-02">Beauty lab</span>
                        </h3>
                    </div>
                </a>
            </div><!-- grid-item end -->
            <!-- grid-item start -->
            <div class="padding-top-60 grid-item-33-50-100 js-isotope-filter-grid-item marketing">
                <a href="project_drone.html" class="grid-margin-box hover-box js-animsition-link js-pointer-large">
                    <div class="anim-img-scale anim-img-scale_hover js-img-scale">
                        <img class="anim-img-scale__inner" src="~/assets/images/projects/sneakers/person-holding-a-shoes-3194608.jpg" alt="project">
                    </div>
                    <div class="margin-top-10 js-scrollanim">
                        <span class="hidden-box d-block">
                            <span class="subhead-xxs text-color-red anim-slide">Marketing</span>
                        </span>
                        <h3 class="hidden-box">
                            <span class="headline-xxxs text-color-black anim-slide tr-delay-02">Sneakers</span>
                        </h3>
                    </div>
                </a>
            </div><!-- grid-item end -->
            <!-- grid-item start -->
            <div class="padding-top-60 grid-item-33-50-100 js-isotope-filter-grid-item marketing">
                <a href="project_drone.html" class="grid-margin-box hover-box js-animsition-link js-pointer-large">
                    <div class="anim-img-scale anim-img-scale_hover js-img-scale">
                        <img class="anim-img-scale__inner" src="~/assets/images/projects/knit-cap/man-wears-orange-knit-cap-and-shirt-2802601.jpg" alt="project">
                    </div>
                    <div class="margin-top-10 js-scrollanim">
                        <span class="hidden-box d-block">
                            <span class="subhead-xxs text-color-red anim-slide">Marketing</span>
                        </span>
                        <h3 class="hidden-box">
                            <span class="headline-xxxs text-color-black anim-slide tr-delay-02">Knit cap</span>
                        </h3>
                    </div>
                </a>
            </div><!-- grid-item end -->
            <!-- grid-item start -->
            <div class="padding-top-60 grid-item-33-50-100 js-isotope-filter-grid-item photoshoot">
                <a href="project_drone.html" class="grid-margin-box hover-box js-animsition-link js-pointer-large">
                    <div class="anim-img-scale anim-img-scale_hover js-img-scale">
                        <img class="anim-img-scale__inner" src="~/assets/images/projects/pexels/woman-in-black-sexy-top-2825034.jpg" alt="project">
                    </div>
                    <div class="margin-top-10 js-scrollanim">
                        <span class="hidden-box d-block">
                            <span class="subhead-xxs text-color-red anim-slide">Photoshoot</span>
                        </span>
                        <h3 class="hidden-box">
                            <span class="headline-xxxs text-color-black anim-slide tr-delay-02">Pexels</span>
                        </h3>
                    </div>
                </a>
            </div><!-- grid-item end -->
            <!-- grid-item start -->
            <div class="padding-top-60 grid-item-33-50-100 js-isotope-filter-grid-item marketing">
                <a href="project_drone.html" class="grid-margin-box hover-box js-animsition-link js-pointer-large">
                    <div class="anim-img-scale anim-img-scale_hover js-img-scale">
                        <img class="anim-img-scale__inner" src="~/assets/images/projects/drone/quadcopter-on-wooden-surface-1601217.jpg" alt="project">
                    </div>
                    <div class="margin-top-10 js-scrollanim">
                        <span class="hidden-box d-block">
                            <span class="subhead-xxs text-color-red anim-slide">Marketing</span>
                        </span>
                        <h3 class="hidden-box">
                            <span class="headline-xxxs text-color-black anim-slide tr-delay-02">Drone</span>
                        </h3>
                    </div>
                </a>
            </div><!-- grid-item end -->
            <!-- grid-item start -->
            <div class="padding-top-60 grid-item-33-50-100 js-isotope-filter-grid-item marketing">
                <a href="project_blue-ridge.html" class="grid-margin-box hover-box js-animsition-link js-pointer-large">
                    <div class="anim-img-scale anim-img-scale_hover js-img-scale">
                        <img class="anim-img-scale__inner" src="~/assets/images/projects/blue-ridge/flat-lay-photography-of-several-product-bottles-on-withered-1667071.jpg" alt="project">
                    </div>
                    <div class="margin-top-10 js-scrollanim">
                        <span class="hidden-box d-block">
                            <span class="subhead-xxs text-color-red anim-slide">Marketing</span>
                        </span>
                        <h3 class="hidden-box">
                            <span class="headline-xxxs text-color-black anim-slide tr-delay-02">Blue ridge</span>
                        </h3>
                    </div>
                </a>
            </div><!-- grid-item end -->
            <!-- grid-item start -->
            <div class="padding-top-60 grid-item-33-50-100 js-isotope-filter-grid-item photoshoot">
                <a href="project_drone.html" class="grid-margin-box hover-box js-animsition-link js-pointer-large">
                    <div class="anim-img-scale anim-img-scale_hover js-img-scale">
                        <img class="anim-img-scale__inner" src="~/assets/images/projects/hoop-earrings/woman-with-gold-colored-hoop-earrings-2420555.jpg" alt="project">
                    </div>
                    <div class="margin-top-10 js-scrollanim">
                        <span class="hidden-box d-block">
                            <span class="subhead-xxs text-color-red anim-slide">Photoshoot</span>
                        </span>
                        <h3 class="hidden-box">
                            <span class="headline-xxxs text-color-black anim-slide tr-delay-02">Hoop earrings</span>
                        </h3>
                    </div>
                </a>
            </div><!-- grid-item end -->
            <!-- grid-item start -->
            <div class="padding-top-60 grid-item-33-50-100 js-isotope-filter-grid-item photoshoot">
                <a href="project_drone.html" class="grid-margin-box hover-box js-animsition-link js-pointer-large">
                    <div class="anim-img-scale anim-img-scale_hover js-img-scale">
                        <img class="anim-img-scale__inner" src="~/assets/images/projects/black-eyes/woman-in-black-tube-top-beside-woman-in-white-off-shoulder-3823424-2.jpg" alt="project">
                    </div>
                    <div class="margin-top-10 js-scrollanim">
                        <span class="hidden-box d-block">
                            <span class="subhead-xxs text-color-red anim-slide">Photoshoot</span>
                        </span>
                        <h3 class="hidden-box">
                            <span class="headline-xxxs text-color-black anim-slide tr-delay-02">Black eyes</span>
                        </h3>
                    </div>
                </a>
            </div><!-- grid-item end -->
            <!-- grid-item start -->
            <div class="padding-top-60 grid-item-33-50-100 js-isotope-filter-grid-item branding">
                <a href="project_drone.html" class="grid-margin-box hover-box js-animsition-link js-pointer-large">
                    <div class="anim-img-scale anim-img-scale_hover js-img-scale">
                        <img class="anim-img-scale__inner" src="~/assets/images/projects/the-ordinary/the-ordinary-product-line-3685530.jpg" alt="project">
                    </div>
                    <div class="margin-top-10 js-scrollanim">
                        <span class="hidden-box d-block">
                            <span class="subhead-xxs text-color-red anim-slide">Branding</span>
                        </span>
                        <h3 class="hidden-box">
                            <span class="headline-xxxs text-color-black anim-slide tr-delay-02">The ordinary</span>
                        </h3>
                    </div>
                </a>
            </div><!-- grid-item end -->
        </div><!-- js-isotope-filter-grid-box end -->
    </div><!-- pos-rel end -->
</section>
<!-- portfolio end -->

<section id="team" class="lines-section pos-rel section-bg-dark-2">
    <!-- lines-container start -->
    <div class="lines-container pos-rel padding-top-bottom-120">
        <!-- flex-container start -->
        <div class="flex-container pos-rel">
            <!-- column start -->
            <div class="four-columns column-100-100 padding-bottom-90 js-scrollanim">
                <div class="line-col-l-r-margin-20">
                    <!-- title start -->
                    <h2 class="headline-s">
                        <span class="anim-text-double-fill" data-text="We">We</span>
                        <span class="anim-text-double-fill tr-delay-01" data-text="are">are</span>
                        <span class="anim-text-double-fill invert tr-delay-02" data-text="a">a</span>
                        <span class="anim-text-double-fill invert tr-delay-03" data-text="Team">Team</span><br>
                        <span class="anim-text-double-fill invert tr-delay-04" data-text="of">of</span>
                        <span class="anim-text-double-fill tr-delay-05" data-text="Experts">Experts</span>
                    </h2><!-- title end -->
                    <p class="body-text-s margin-top-20 anim-text-reveal tr-delay-08">Narwhal pop-up intelligentsia tbh pinterest, microdosing tilde cloud bread gochujang tattooed leggings cornhole 8-bit. Austin fam chia cold-pressed raw denim. Glossier drinking vinegar portland lo-fi. Chillwave cronut messenger bag truffaut.</p>
                </div>
            </div><!-- column end -->
            <!-- column start -->
            <div class="eight-columns column-100-100 hidden-box">
                <!-- js-1-view-slider start -->
                <div class="slider-gradient-right js-1-view-slider padding-bottom-90">
                    <!-- swiper-wrapper start -->
                    <div class="swiper-wrapper">
                        <!-- swiper-slide start -->
                        <div class="swiper-slide">
                            <div class="hover-box pos-rel">
                                <!-- img start -->
                                <img class="img-hover-scale in" src="assets/images/team/team_barber/man-wearing-black-bow-tie-2330079.jpg" alt="Kevin Kreger">
                                <img class="img-hover-overlay out" src="assets/images/team/team_barber/photo-of-man-wearing-dress-shirt-and-fedora-2313192.jpg" alt="Kevin Kreger">
                                <!-- img end -->
                                <!-- content start -->
                                <div class="pos-abs pos-bottom-center text-center width-100perc">
                                    <h4 class="hidden-box">
                                        <span class="headline-xxxs hover-slide">Kevin Kreger</span>
                                    </h4>
                                    <p class="hidden-box margin-top-5">
                                        <span class="subhead-xxs hover-slide tr-delay-02">The hairdresser</span>
                                    </p>
                                    <div class="hidden-box margin-top-20">
                                        <div class="hover-slide tr-delay-04">
                                            <a href="#" class="flip-btn js-pointer-small" data-text="KevinKreger@dayrep.com">KevinKreger@dayrep.com</a>
                                        </div>
                                    </div>
                                </div><!-- content end -->
                            </div>
                        </div><!-- swiper-slide end -->
                        <!-- swiper-slide start -->
                        <div class="swiper-slide">
                            <div class="hover-box pos-rel">
                                <!-- img start -->
                                <img class="img-hover-scale in" src="assets/images/team/team_barber/pexels-3622799.jpg" alt="Janice Harris">
                                <img class="img-hover-overlay out" src="assets/images/team/team_barber/photo-of-man-standing-while-wearing-black-shirt-3622808.jpg" alt="Ivan Lofland">
                                <!-- img end -->
                                <!-- content start -->
                                <div class="pos-abs pos-bottom-center text-center width-100perc">
                                    <h4 class="hidden-box">
                                        <span class="headline-xxxs hover-slide">Ivan Lofland</span>
                                    </h4>
                                    <p class="hidden-box margin-top-5">
                                        <span class="subhead-xxs hover-slide tr-delay-02">Barber</span>
                                    </p>
                                    <div class="hidden-box margin-top-20">
                                        <div class="hover-slide tr-delay-04">
                                            <a href="#" class="flip-btn js-pointer-small" data-text="IvanML@armyspy.com">IvanML@armyspy.com</a>
                                        </div>
                                    </div>
                                </div><!-- content end -->
                            </div>
                        </div><!-- swiper-slide end -->
                        <!-- swiper-slide start -->
                        <div class="swiper-slide">
                            <div class="hover-box pos-rel">
                                <!-- img start -->
                                <img class="img-hover-scale in" src="assets/images/team/team_barber/side-view-photo-of-man-wearing-black-turtleneck-shirt-2719417.jpg" alt="Tracey Brunner">
                                <img class="img-hover-overlay out" src="assets/images/team/team_barber/man-wearing-turtleneck-shirt-2719416.jpg" alt="Michael Pierce">
                                <!-- img end -->
                                <!-- content start -->
                                <div class="pos-abs pos-bottom-center text-center width-100perc">
                                    <h4 class="hidden-box">
                                        <span class="headline-xxxs hover-slide">Michael Pierce</span>
                                    </h4>
                                    <p class="hidden-box margin-top-5">
                                        <span class="subhead-xxs hover-slide tr-delay-02">The hairdresser</span>
                                    </p>
                                    <div class="hidden-box margin-top-20">
                                        <div class="hover-slide tr-delay-04">
                                            <a href="#" class="flip-btn js-pointer-small" data-text="MichaelJ@armyspy.com">MichaelJ@armyspy.com</a>
                                        </div>
                                    </div>
                                </div><!-- content end -->
                            </div>
                        </div><!-- swiper-slide end -->
                    </div><!-- swiper-wrapper end -->
                    <!-- swiper-button-prev start -->
                    <div class="swiper-button-prev-box">
                        <div class="swiper-button-prev"></div>
                    </div><!-- swiper-button-prev end -->
                    <!-- swiper-button-next start -->
                    <div class="swiper-button-next-box">
                        <div class="swiper-button-next"></div>
                    </div><!-- swiper-button-next end -->
                    <!-- swiper-pagination start -->
                    <div class="pagination-box">
                        <div class="swiper-pagination counter-pagination"></div>
                    </div><!-- swiper-pagination end -->
                </div><!-- js-1-view-slider end -->
            </div><!-- column end -->
        </div><!-- flex-container end -->
    </div><!-- lines-container end -->
</section>